.card__subtitle {
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    color: white;
    margin: 16px 0 0;
}

@media screen and (max-width: 581px) {
    .card__subtitle {
        font-size: 14px;
        line-height: 16.94px;
    }
}