.card__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    color: white;
    margin: 0;
}

@media screen and (max-width: 899px) {
    .card__title {
        font-size: 27px;
        line-height: 32.68px;
    }
}

@media screen and (max-width: 581px) {
    .card__title {
        width: 282px;
        text-align: center;
    }
}